
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 2.5vw;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  caption {
    padding: 10px;
  }
.smalltable{
  font-size: 1.5vw;
}
.smalltable > td{
  padding: 5px 10px;
}